<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="log" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${user.home}/rclogs/DobBreedService-Service.log" />
    <param name="MaxFileSize" value="1GB" />
    <param name="MaxBackupIndex" value="10" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{HH:mm:ss.SSS}] [%-5p] %c{1} - %m%n" />
    </layout>
  </appender>

  <category name="com.ftudor">
    <priority value="info" />
  </category>

  <!-- This will log the SQL statements -->
  <category name="org.hibernate.SQL">
    <priority value="info"/>
  </category>

  <root>
    <priority value="info" />
    <appender-ref ref="log" />
  </root>

</log4j:configuration>
